h1{
    text-align: center;
    color: gray;
    background-color: pink;
}
img{
    margin-right: auto;
}
h3{
    text-align: center;
    color: gray;
}
form{
    text-align: center;
    

}


